.petHouse {
    width: 200px;
    height: 200px;
    /* position: relative;
    left: 500px; */
}

.foodBowl {
    width: 50px;
    height: 50px;
    /* position: relative;
    top: 80px;
    right: 500px; */
}

.waterBowl {
    width: 60px;
    height: 60px;
    /* position: relative; */

}

.mainPetPicker {
    height: 400px;
    top: 200px;
    /* position: relative; */
    
}

.petTree {
    width: 500px;
    height: 500px;

}

.petty {
    /* position: relative; */
    top: 40px;
    width: 160px;
    /* right: 40px; */
}

.pet-dec-card {
    position: relative;
    left: 320px;
    border-radius: 15px;
    top: 450px;
    width: 50vw;
    max-height: 35vh;
    padding: 10px;
  
  }
  
  .cemetery {
    width: 250px;
  }

  /* .graveyard-card {
    position: relative;
    top: 220px;
    right: 450px;
    border-radius: 15px;
    width: 50vw;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
  
  } */

  .graveyard-button {
    position: relative;
    font-size: larger;
    top: 180px;
    right: 360px;
    background-color: black;
    border: 1px black solid;
  }

  .button-card {
    position: relative;
    font-size: larger;
    top: 180px;
   left: 700px;
    
  }

  .pet-modal {
    background-color: transparent;
  
  }



.pet-title {
  position: relative;
top: 130px;
  font-weight: bold;
  color: white;
}

.grave {
position: relative;
  width: 80px;
  height: 80px;
  top: 170px;
  right: 430px;
 
}

.graveyard-holder {
  position: relative;
  right: 400px;
  bottom: 40px;
 
}

/* .close-grave-modal {
  position: relative;
  width: 90px;
  bottom: 50px;
  display: flex;
} */

