li.task {
  min-width: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px auto;
  border-radius: 22px;
}

.title {
  width: 50%;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-left: 100px;
}

.description {
  width: 100%;
  text-align: left;
  font-weight: bold;
  padding-left: 10%;
}

div.holder {
  width: 600px;
}

ol:hover {
  border-radius: 22px;
  background-color: rgb(11, 11, 18);
  color: rgb(24, 27, 33) !important;
}

.main {
  display: none;
}

.completed {
  transform: scale(1.5);
  margin-left: 10px;
}

ol:hover .main {
  display: contents;
  transition-timing-function: ease-in-out;
}

.task {
  max-width: 500px;
}

ol {
  width: 500px;
  margin-bottom: -2px;
  margin-left: 15px;
}

.modalButton {
  transform: scale(1.4);
  margin-left: 20px;
  margin-bottom: 30px;
  color: black;
  background-color: lightgray;
  font-weight: bold;
}

.listDiv {
  display: flex;
  justify-content: center;
}

.editButton {
  background-color: dimgrey;
  margin-left: 30px;
}

.datePicker {
  max-width: 300px;
  margin-left: 175px;
}

.dueDateSpan {
  color: white;
  position: relative;
  top: 35px;
  left: 50px;
  font-weight: bold;
  font-size: large;
}

.para {
  font-weight: bold;
}

.div-card2 {
  border: 1px white solid;
  border-radius: 15px;
  max-width: 600px;
  max-height: 180vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
